{% extends 'base.html' %}

{% block content %}
	<h1>Hello</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias minus quas voluptate, ut vero facilis sunt maxime asperiores veritatis possimus velit et? Labore quos ut similique, quasi nesciunt, reprehenderit obcaecati!</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis harum, saepe quidem in tempora quae quos magnam ipsam aut reprehenderit quaerat commodi illum itaque, quas alias, animi eos error.</p>
	<ul>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea iste ad totam amet beatae quaerat, quasi nobis earum fugit laboriosam, error magni officia adipisci dicta in, id, quis sed. Perspiciatis.</li>
	</ul>
{% endblock %}